<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<web-app xmlns="http://JAVA.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
                        version="3.0">
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ProfileServlet</display-name>
		<servlet-name>ProfileServlet</servlet-name>
		<servlet-class>ProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/ProfileServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminServlet</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DisplayCourseServlet</display-name>
		<servlet-name>DisplayCourseServlet</servlet-name>
		<servlet-class>DisplayCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayCourseServlet</servlet-name>
		<url-pattern>/DisplayCourseServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>DeleteCourseServlet</display-name>
		<servlet-name>DeleteCourseServlet</servlet-name>
		<servlet-class>DeleteCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCourseServlet</servlet-name>
		<url-pattern>/DeleteCourseServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>UserCourseServlet</display-name>
		<servlet-name>UserCourseServlet</servlet-name>
		<servlet-class>UserCourseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserCourseServlet</servlet-name>
		<url-pattern>/UserCourseServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>DisplayUserServlet</display-name>
		<servlet-name>DisplayUserServlet</servlet-name>
		<servlet-class>DisplayUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayUserServlet</servlet-name>
		<url-pattern>/DisplayUserServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>DisplayContactServlet</display-name>
		<servlet-name>DisplayContactServlet</servlet-name>
		<servlet-class>DisplayContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayContactServlet</servlet-name>
		<url-pattern>/DisplayContactServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>DisplayFeedbackServlet</display-name>
		<servlet-name>DisplayFeedbackServlet</servlet-name>
		<servlet-class>DisplayFeedbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayFeedbackServlet</servlet-name>
		<url-pattern>/DisplayFeedbackServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
</web-app>